<%= render :partial => "common/user_nav" %>

<ul>
<% @boards.each do |board| %>
    <li>
        <%= link_to(board.name, board_posts_path(board)) %>
        <%= board.posts.size %>
    </li>
<% end %>
</ul>
